html {
  font-size: 16px
}

/********
 * body *
 ********/

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: 'Droid Serif', monospace, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 3px
}

.title,
.title-about,
.title-skills {
  text-align: left;
  font-size: 3rem;
}

.title {
  margin: 1vh 2vh 0vh !important
}

.title-about {
  margin: 3vh 1vh 3vh !important;
  padding: 1vw;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-skip: ink;
  text-decoration-style: solid;
  text-decoration-color: #099bba;
  -moz-text-decoration-color: #099bba;
  -moz-text-decoration-line: underline;
  -moz-text-decoration-style: solid;
}

.btn {
  background-color: #3fcdfd;
  color: #fff;
}

.btn:hover {
  color: #3fcdfd;
  background-color: transparent;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.title-skills {
  font-size: 1.5rem !important;
  padding: 1vw;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-skip: ink;
  text-decoration-style: solid;
  text-decoration-color: #099bba;
  -moz-text-decoration-color: #099bba;
  -moz-text-decoration-line: underline;
  -moz-text-decoration-style: solid;
}

/* additional color for title*/

.title span,
.title-about span,
.title-skills span {
  color: #099bba
}

/***********
 * Section *
 ***********/

section {
  position: relative;
  width: 100%;
  overflow: hidden
}

/********
 * Home *
 ********/

#home {
  height: 100vh;
  background: url(https://s3.ap-south-1.amazonaws.com/portfolio-cloud/assets/images/header-background.jpg) center center no-repeat scroll;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden
}

div .myh1{
  font-weight: 700;
  font-size:3.2vw;
}

/*scroll down */
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*********
 * About *
 *********/

.about_container {
  margin-top: 2vw
}

/*social icon */

.icon:hover {
  opacity: 0.8
}

.social-links a {
  font-size: 26px;
  display: inline-block;
  color: #000;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

.social-links .facebook {
  background: #3B579D;
  color: #fff;
}

.social-links .mail {
  background: #DD4A3A;
  color: #fff;
}

.social-links .github {
  background: #128f76;
  color: #fff;
}

.social-links .linkedin {
  background: #0077B5;
  color: #fff;
}

.social-links .facebook:hover {
  background: #3B579D;
  color: #fff;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 2s;
}

.social-links .mail:hover {
  background: #DD4A3A;
  color: #fff;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 2s;
}

.social-links .github:hover {
  background: #128f76;
  color: #fff;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 2s;
}

.social-links .linkedin:hover {
  background: #0077B5;
  color: #fff;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 2s;
}

.footer-contact .mail {
  color: #fff
}

.footer-contact .mail:hover {
  color: #18d36e
}

.about_details p {
  letter-spacing: 1.2;
  text-indent: 20%
}

/* table */

.table-bordered td,
.table-bordered th {
  border-color: black !important
}

/****************************************
 * Profile--experience,education,skills *
*****************************************/

.parag p {
  letter-spacing: 1.2
}

/* other skills */

ul li {
  list-style: none
}

.skills_item {
  margin: .8vh;
  padding: .5vw;
  border-radius: 5px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  cursor: pointer
}

.skills_item:hover {
  transform: scale(1.15);
}

/* diffent color for Beginner,Intermediate and Expert */

.skills_beginner {
  border-left: 1vw solid #8eccf0;
  background-color: #deeefe
}

.skills_intermediate {
  border-left: 1vw solid #dfca5c;
  background-color: #f2f0e5
}

.skills_expert {
  border-left: 1vw solid #59de5a;
  background-color: #dffbea
}

/* footer at other skills */

.skills_color_beginner::first-letter {
  border-left: .5vw solid #8eccf0
}

.skills_color_intermediate::first-letter {
  border-left: .5vw solid #dfca5c
}

.skills_color_expert::first-letter {
  border-left: .5vw solid #59de5a
}

/*************
 * portfolio *
 *************/

.work {
  margin: 10vh 1vw;
}

/*
.hidden { display: none; }

#filter {
  text-align: center;
  background-color: #333;
  padding: 15px;
}

#filter button {
  border: 0;
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
  padding: 5px 20px;
}

#filter button.active { background-color: #099bba; }
#filter button:hover { background-color: #098bba; }

#filter button:focus { outline: 0; }
*/
#posts {
  max-width: 1200px;
  margin: 0 auto;
}

#posts .post {
  width: 48%;
  height: 450px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #099bba;
}

#posts .post img {
  position: relative;
  display: block;
  opacity: 1;
  min-height: 100%;

}

#posts .post:hover img {
  opacity: .09;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);

}

#posts .post .post-content {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#posts .post .post-content::before,
#posts .post .post-content::after {
  pointer-events: none;
}

#posts .post .post-content,
#posts .post a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#posts .post a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

#posts .post h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em;
}

#posts .post h2,
#posts .post p {
  margin: 0;
}

#posts .post p,
#posts .post button,
#posts .post hr {
  opacity: 0;
}

#posts .post:hover p,
#posts .post:hover button,
#posts .post:hover hr {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hidden {
  overflow: hidden;
  display: none;
  visibility: hidden;
}

/**********
 * footer *
 **********/

footer {
  bottom: 0;
}

/***************
 * Mobile-Menu *
 ***************/

.toggleBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.toggleBtn span {
  display: block;
  width: 40px;
  height: 5px;
  background: #3fcdfd;
  margin: 6px 0px;
  transition: all 300ms ease-in-out;
}

.toggleBtn.active span {
  background: white;
}

.toggleBtn.active span:nth-child(2) {
  opacity: 0;
}

.toggleBtn.active span:nth-child(1) {
  transform-origin: left;
  transform: rotate(45deg) translateX(5px);
}

.toggleBtn.active span:nth-child(3) {
  transform-origin: left;
  transform: rotate(-45deg) translateY(5px);
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 5;
  visibility: hidden;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 0vw;
  height: 100vh;
  transition: all 400ms ease-in-out;
  background: #3fcdfd
}

.menu:before {
  left: 0px;
}

.menu:after {
  right: 0px;
}

.menu.active:before,
.menu.active:after {
  width: 50vw;
}

.menu ul {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;

  transition: all 400ms ease-in-out 400ms;
}

.menu ul li {
  list-style: none;
  font-size: 5vw;
  margin: 5px 0px;
  color: #fff;
}

.menu.active ul {
  top: 50%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

#menu .navbar-nav>li.nav-item>a.nav-link:hover {
  border-bottom: 3px solid #fff;
  background: transparent
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3fcdfd;
  z-index: 5;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3fcdfd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8eccf0;
}
